h1{
    text-align: center;
    font-family: 'PetitFormalScriptRegular';
}
.art{
    margin: auto;
}

td{
    background-color: black;
    height: 200px;
    width: 100px;
    border: 4px solid white;
}

#one{
    background-color: #DAD2D8;
}

#two{
    background-color: #325FA2;
}

#three{
    background-color: #143642;
}

#four{
    background-color: #EC9A29;
}

#five{
    background-color: #A8201A;
}

